body {
    text-align: center;
}

.lundi {
    text-align: left;
}

.mardi {
    text-align: left;
    margin-left: 200px;
}

.jeudi {
    text-align: left;
    margin-left: 500px;
}

.vendredi {
    text-align: left;
    margin-left: 900px;
}