* {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 2% 0% 2% 0%
}

#cityPresentation div {
    display: flex;
    justify-content: center;
    margin: 0% 10% 0% 10%;
}

#emergencyNumbers {
    width: 100%;
    height: 5%;
    bottom: 0;
    background-color: #08605F;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

#headerActus {
    margin-top: 3%;
}

#actu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

#actu div {
    border: 1px solid black;
    margin: 0% 3% 0% 3%;
    padding: 2%;
}