* {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 2% 0% 2% 0%
}

#cityPresentation div {
    display: flex;
    justify-content: center;
    margin: 0% 10% 0% 10%;
}

#emergencyNumbers {
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: #08605F;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}